* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 600px;
  background: linear-gradient(135deg, #3d3a3a, #2a2727);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.05);
}

header {
  text-align: center;
  line-height: 1;
  border-bottom: 1px solid #444;
  padding-bottom: 0.8rem;
}

header h1 {
  color: #ffb22c;
  font-size: 2rem;
  font-weight: 600;
}

header p {
  font-style: italic;
  font-size: 0.9rem;
  color: #ddd;
  margin-top: 0.3rem;
}

main {
  background-color: #222;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-input-container {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
}

.user-input-container input {
  flex: 1;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: #2a2727;
  color: #f7f7f7;
  font-size: 1rem;
}

#search-btn {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ffb22c;
  font-size: 1rem;
  color: #343131;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

#search-btn:hover {
  background-color: #e09c25;
}

.stats-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.progress {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #299f5d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  background: conic-gradient(#299f5d var(--progress-degree, 0%), #283a2e 0%);
}

.circle span {
  position: relative;
  z-index: 2;
}

.circle p{
  font-size: 0.7rem;
  color: #b2b9b5ff;
}

.stats-card{
  background: linear-gradient(135deg, #3d3a3a, #2a2727);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #f7f7f7;
}

.stats-card .card{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #54472aff, #695330ff);
  border: 1px solid #756e6eff;
  border-radius: 1rem;
  padding: 1rem;
}

.stats-card .card h3{
  font-size: 1rem;
  font-weight: 600;
  color: #f7f7f7;
}
.stats-card .card p{
  font-size: 0.8rem;
  color: #b2b9b5ff;
}

@media (max-width: 480px) {
  .user-input-container {
    flex-direction: column;
    gap: 0.6rem;
  }

  #search-btn {
    width: 100%;
  }
  .progress {
    gap: .5rem;
   
  }

  .circle {
    width: 100px;
    height: 100px;
    font-size: 0.9rem;
  }

  .stats-card{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
